<div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/header.jpg') ;">
        </div>
        <div class="container">
            <div class="content-center brand">
              <div class="photo-container">
                  <img src="assets/img/jake.jpg" style="border-radius: 50%;">
              </div>
              <h3 class="title">Jacob Penner</h3>
              <p class="category">Web Developer</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a
                    href="https://www.linkedin.com/in/japenner/"
                    class="btn btn-default btn-round btn-lg btn-icon"
                    rel="tooltip"
                    title="Connect with me on Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a
                    href="https://github.com/Japenner"
                    class="btn btn-default btn-round btn-lg btn-icon"
                    rel="tooltip"
                    title="Check out my work on Github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
            <h3 class="title">About Me</h3>
            <h5 class="description">
                The majority of my professional skills and experience have been devoted to web application development.
                The frameworks I've had the most experience with include Angular, .NET Core, PrimeNG, and Ruby on Rails.
                These skills and proficiency in Agile Development and Test Driven Development allow me to produce high quality software quickly and dependably.
                <br><br>At home, I like to develop productivity applications and learn new technologies.
                I’m a tinkerer at heart and lately I've been especially passionate about all things related to Development processes, Ops, Cloud, and Security.
            </h5>
            <!-- <div class="row">
                <div class="col-md-12">
                    <h4 class="title text-center">My Portfolio</h4>
                      <ngb-tabset [justify]="'center'" type="pills" class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons design_image"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg1.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons location_world"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                              <img src="assets/img/bg11.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                          <ngb-tab>
                            <ng-template ngbTabTitle>
                              <i class="now-ui-icons sport_user-run"></i>
                            </ng-template>
                              <ng-template ngbTabContent>
                                <div class="row">
                                  <div class="col-md-10 ml-auto mr-auto">
                                      <div class="row collections">
                                          <div class="col-md-6">
                                              <img src="assets/img/bg3.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg8.jpg" alt="" class="img-raised">
                                          </div>
                                          <div class="col-md-6">
                                              <img src="assets/img/bg7.jpg" alt="" class="img-raised">
                                              <img src="assets/img/bg6.jpg" class="img-raised">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </ng-template>
                          </ngb-tab>
                      </ngb-tabset>
                </div>
            </div> -->
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <!-- <ul>
                    <li>
                        <a href="#">
                            Stuff
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Thangs
                        </a>
                    </li>
                </ul> -->
            </nav>
        </div>
    </footer>
</div>
